@import '../../variables';
.city-description {
  text-align: center;
  color: $primary-color;
  font-size: 1.2em;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 15px 15px 20px 1px rgba(47, 26, 53, 0.5);
}
.tour-overview {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  .booking-label {
    background-color: $ternary-color;
    align-items: center;
    width: 50vw;
    margin: auto;
    padding: 5px 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    button {
      width: 200px;
      height: 50px;
      cursor: pointer;
      color: $secondary-color;
      background-color: $primary-color;
      border: none;
      border-radius: 10px;
      font-size: medium;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  @keyframes glow {
    0% {
      color: $ternary-color;
      background: linear-gradient(
        90deg,
        rgba(47, 26, 53, 0.4) 0%,
        rgba(255, 89, 118, 0.4) 100%
      );
    }
    50% {
      color: $ternary-color;
      background: linear-gradient(
        90deg,
        rgba(47, 26, 53, 0.5) 0%,
        rgba(255, 89, 118, 0.5) 100%
      );
    }
    100% {
      color: $ternary-color;
      background: linear-gradient(
        90deg,
        rgba(47, 26, 53, 0.4) 0%,
        rgba(255, 89, 118, 0.4) 100%
      );
    }
  }
  .showcase {
    position: relative;
    height: 100vh;

    .cover-photo {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      box-shadow: 15px 15px 20px 1px rgba(47, 26, 53, 0.5);
      border-radius: 10px;
    }
    .tour-name {
      position: absolute;
      top: 1.5rem;
      right: 0;
      display: block;
      padding: 0.2px 0.7rem;
      font-size: xx-large;
      background: linear-gradient(
        90deg,
        rgba(47, 26, 53, 0.4) 0%,
        rgba(255, 89, 118, 0.4) 100%
      );
      color: $ternary-color;
      &:hover {
        animation: glow forwards 1s ease-in infinite;
      }
    }
  }
  .tours-description {
    padding-top: 5vh;
    width: 90vw;
    display: flex;
    flex-direction: column;

    .tour-description {
      height: 45vh;
      // box-shadow: 5px 5px 20px 1px rgba(255, 89, 118, 0.7);
      margin: 1rem 0;
      flex: 1;
      display: flex;
      border-radius: 5px;
      // background-color: $primary-color;

      .description {
        font-size: large;
        flex: 3;
        display: flex;
        padding: 0.5rem 2rem;
        text-align: center;
        align-items: center;
      }

      .photo {
        perspective: 1500px;
        cursor: pointer;
        flex: 2;
        width: 100%;
        background-size: 100% 100%;
        transition: all 0.3s ease-in;
        border-radius: 5px;
        box-shadow: 15px 15px 20px 1px rgba(47, 26, 53, 0.5);

        &:hover {
          transform: scale(1.1);
        }

        .location-name {
          padding: 0.5rem 1rem;
          font-size: x-large;
          background: linear-gradient(
            90deg,
            rgba(47, 26, 53, 0.4) 0%,
            rgba(255, 89, 118, 0.4) 100%
          );
          color: $ternary-color;
          position: absolute;
          bottom: 0;
        }
      }

      &:nth-child(odd) {
        flex-direction: row-reverse;
        // background-color: $secondary-color;
        color: $primary-color;
        // box-shadow: 5px 5px 20px 1px rgba(47, 26, 53, 0.7);

        .photo {
          .location-name {
            left: 0;
          }
        }
      }
      &:nth-child(even) .photo {
        .location-name {
          right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .city-description {
    text-align: center;
    // background: $primary-color;
    font-size: 1em;
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  .tour-overview {
    .booking-label {
      width: 80vw;
      margin: auto;
    }
    .showcase {
      height: 30vh;

      .tour-name {
        font-size: large;
      }
    }
    .tours-description {
      height: 150vh;
      .tour-description {
        height: unset;
        flex: 1;
        display: flex;
        // height: 30vh;
        width: 70vw;
        margin: 1rem auto;
        flex-direction: column;

        .description {
          font-size: 8px;
          flex: unset;
          height: 50%;
          padding: 0 5px;
        }
        .photo {
          height: 50%;
          background-size: 100% 100%;
          height: 100px;
          .location-name {
            font-size: 12px;
          }
        }
        &:nth-child(odd) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
